.company{
    background-color:darkgreen;
    width: 100%;
}
.business{
    width: 50%;
    float: left;
    background-color:darkgreen;
}
.worker{
    width: 50%;
    float: right;
}
img{
    width = "400px" 
    height ="500px">
}
.p1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:white;
}
.p2{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:white;
}
.p3{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
.p4{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
}